<!-- 
    <button class="btn btn-danger">click me </button>

  <br>
  <br>
    <button class="btn btn-info">click me</button>

 <br>
  <br>
  <button class="btn btn-primary">click me</button>
  <br>
  <br>

  <button class="btn btn-secondary">click me</button>
<br>
<br>

<button class="btn btn-success btn-block">click me</button>
<br>
<br>

<button class="btn btn-outline-success">click me</button>
<br>
<br>
<div class="container-fluid">
<div class="rows">
  <label class="col-sm-2">
    firstname
  </label>
  <div class="col-sm-8" class="form-control">
    <input type="text">
  </div>
</div>
</div> -->
<div class="alert alert-primary">alert primart</div>


<h1 align="center"> bootstrap</h1>
<nav class="navbar navbar-expand-lg">nav</nav>

<hr>

<!-- <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="employee-list">employee-list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="employee-name">employeename</a>
      </li>
      </ul>
<hr> -->
<button class="btn btn-primary mr-3" routerLink="/customers">Customers</button>
<button class="btn btn-primary" routerLink="/orders">orders</button>


<!-- <app-employee></app-employee> -->

<router-outlet></router-outlet>
